/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #ff7e5f;
  /* Warm orange color */
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  /* Center align the h1 element */
}