/* timeline.css */
.timeline-container {
  max-width: 800px;
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #ff7e5f;
  /* Warm orange color */
}

.timeline-event {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.timeline-event-date {
  font-size: 14px;
  color: #fff;
  background-color: #ff7e5f;
  /* Warm orange color */
  padding: 8px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
}

.timeline-event-content {
  margin-left: 20px;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-event-content h3 {
  color: #ff7e5f;
  /* Warm orange color */
  font-size: 18px;
  margin-bottom: 8px;
}

.timeline-event-content p {
  color: #777;
  /* Slightly darker text color for better contrast */
  font-size: 14px;
  line-height: 1.5;
}

.timeline-event:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-event:nth-child(even) .timeline-event-date {
  border-top-left-radius: 0;
  border-bottom-left-radius: 4px;
}

.timeline-event:nth-child(even) .timeline-event-content {
  margin-left: 0;
  margin-right: 20px;
}